body {
	background-color: rgb(0, 139, 139, 0.5);
}

h1 {
	font-family: 'Fleur De Leah', cursive;
}

h3 {
	font-family: 'Dancing Script', cursive;
}
.circleImage{
    border-radius: 100%;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Fleur De Leah', cursive;
font-family: 'Italianno', cursive;
font-family: 'Mukta', sans-serif; */